@keyframes title {
  0% {
    opacity: 0;
    letter-spacing: 150px;
  }
  50% {
    letter-spacing: 50px;
  }
  100% {
    opacity: 0.8;
    letter-spacing: 3px;
    text-shadow: 0 0 1px black;
  }
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow: hidden;
  margin: 0;
  min-height: 100vh;
}

#title {
  font-size: 70px;
  text-transform: uppercase;
  animation: title 4s linear forwards;
}

#canvas {
  display: flex;
  gap: 20px;
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  width: 150px;
  border: 1px solid black;
}

#picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 130px;
  border: 1px solid black;
}

button {
  width: 130px;
  height: 50px;
  font-size: 20px;
  background-color: white;
  border: 1px solid black;
  outline: none;
}

#color {
  margin-top: 5px;
  width: 100px;
  height: 30px;
  box-shadow: 3px 3px;
}

#color:hover {
  transform: scale(1.1);
}

#color:active {
  transform: scale(1.2);
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(1.2);
}

#black :hover {
  background: black;
  color: white;
}

#RGB {
  background: linear-gradient(to right, #43cea2, #24fc03, #fc8803);
}

.slider-and-value {
  display: flex;
  flex-direction: column;
  width: 130px;
  padding: 5px;
  border: 1px solid black;
}

#slider {
  -webkit-appearance: none;
  background: black;
  outline: none;
  border-radius: 50px;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50px;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50px;
}

.value {
  font-size: 15px;
  padding-left: 10px;
  color: black;
  text-shadow: 2px 2px white;
}

.grid {
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 5px solid white;
  border-radius: 5px;
  height: 600px;
  width: 900px;
  background-color: gray;
}

.cell {
  background-color: white;
  border: 1px solid black;
}

footer {
  font-size: 15px;
  margin-top: auto;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

#gh-logo {
  width: 25px;
  height: 25px;
  margin-bottom: -5px;
  margin-right: 10px;
}
